{% extends 'layout.html' %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
       
        <a class="navbar-brand" href="/">
            <h2 class="display-6 text-primary">Yolo</h1>
        </a>
        <a class="navbar-brand active" href="/yolo">
            <h2 class="display-6 text-warning">Yolo Video</h1>
        </a>
        <a class="navbar-brand" href="/resnet">
            <h2 class="display-6 text-primary">Resnet</h1>
        </a>
        <a class="navbar-brand " href="/resnet_dif">
            <h2 class="display-6 text-primary">Data Set Farklı</h1>
        </a>
    </div>
</nav>


    <div class="container">
        <br><br>
        <form action="#" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" class="form-control" name="image_name" required>
                <input type="submit" value="Upload" class="btn btn-outline-secondary">
            </div>
        </form>
    </div>

    {% if upload %}
        <div class="container">
            <br><br>
            <table>
                <tr>
                    <td >
                        <img class="rounded float-left img-fluid" src="/static/upload/{{ upload_image }}" alt="">
                    </td>
                    <td>
                        <img class="rounded float-right img-fluid" src="/static/predict/{{ upload_image }}" alt="">
                    </td>
                </tr>

            </table>
            <br>
            

        </div>
    
    
    
    {% endif %}

{% endblock  %}